CREATE DATABASE EnglishLearningDB;
GO
USE EnglishLearningDB
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16/03/2026 10:01:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [nvarchar](10) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SubLevelId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Courses__C92D71A705F7D0AF] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flashcards]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flashcards](
	[FlashcardId] [int] IDENTITY(1,1) NOT NULL,
	[FlashcardSetId] [int] NOT NULL,
	[FrontText] [nvarchar](max) NOT NULL,
	[BackText] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Flashcards] PRIMARY KEY CLUSTERED 
(
	[FlashcardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashcardSets]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashcardSets](
	[FlashcardSetId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FlashcardSets] PRIMARY KEY CLUSTERED 
(
	[FlashcardSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningLevels]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningLevels](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Learning__09F03C26EC2A3FB4] PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [nvarchar](20) NOT NULL,
	[CourseId] [nvarchar](10) NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](200) NULL,
	[OrderIndex] [int] NULL,
	[AudioPath] [nvarchar](200) NULL,
	[LessonType] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Lessons__B084ACD0F7EAA506] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paragraphs]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paragraphs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Level] [nvarchar](max) NOT NULL,
	[Topic] [nvarchar](max) NOT NULL,
	[ParagraphText] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Paragraphs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Progresses]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progresses](
	[ProgressId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LessonId] [nvarchar](20) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedAt] [datetime] NULL,
	[Score] [real] NULL,
 CONSTRAINT [PK__Progress__BAE29CA5B14894C3] PRIMARY KEY CLUSTERED 
(
	[ProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[QuizId] [int] IDENTITY(1,1) NOT NULL,
	[LessonId] [nvarchar](20) NULL,
	[Question] [nvarchar](200) NULL,
	[OptionA] [nvarchar](max) NULL,
	[OptionB] [nvarchar](max) NULL,
	[OptionC] [nvarchar](max) NULL,
	[OptionD] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CorrectAnswer] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](200) NULL,
	[ImageGroup] [nvarchar](max) NULL,
 CONSTRAINT [PK_Quizzes] PRIMARY KEY CLUSTERED 
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubLevels]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubLevels](
	[SubLevelId] [int] IDENTITY(1,1) NOT NULL,
	[SubLevelName] [nvarchar](10) NOT NULL,
	[LevelId] [int] NOT NULL,
 CONSTRAINT [PK_SubLevels] PRIMARY KEY CLUSTERED 
(
	[SubLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TranslationHistories]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranslationHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Topic] [nvarchar](max) NOT NULL,
	[OriginalSentence] [nvarchar](max) NOT NULL,
	[UserTranslation] [nvarchar](max) NOT NULL,
	[StandardTranslation] [nvarchar](max) NOT NULL,
	[Accuracy] [float] NOT NULL,
	[ErrorSuggestion] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[ParagraphId] [int] NOT NULL,
 CONSTRAINT [PK_TranslationHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/03/2026 10:01:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](10) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[Occupation] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[Purpose] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK__Users__1788CC4CC30BF25F] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250726180314_InitialCreate', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250801141837_AddChatHistory', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250805062710_AddScoreToProgress', N'9.0.7')
GO
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [SubLevelId], [CreatedAt]) VALUES (N'gmfb01', N'Grammar for Beginner - A1', N'Basic grammar helps new learners know how to use grammar to support in the writing or many other things', 1, CAST(N'2025-07-10T20:20:20.000' AS DateTime))
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [SubLevelId], [CreatedAt]) VALUES (N'gmfb02', N'Grammar for Beginners - A2', N'Grammar for Beginners - A2 support learners in basic knowledge to know more about grammar', 2, CAST(N'2025-09-19T17:21:59.440' AS DateTime))
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [SubLevelId], [CreatedAt]) VALUES (N'prnciate', N'Pronunciation', N'Pronunciation helps us understand the pronunciation of words, better understand the monophthongs, Diphthongs with other things', 1, CAST(N'2025-08-04T19:18:47.937' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Flashcards] ON 

INSERT [dbo].[Flashcards] ([FlashcardId], [FlashcardSetId], [FrontText], [BackText]) VALUES (2, 1, N'Monkey', N'Khỉ')
INSERT [dbo].[Flashcards] ([FlashcardId], [FlashcardSetId], [FrontText], [BackText]) VALUES (3, 1, N'Tiger', N'Hổ')
SET IDENTITY_INSERT [dbo].[Flashcards] OFF
GO
SET IDENTITY_INSERT [dbo].[FlashcardSets] ON 

INSERT [dbo].[FlashcardSets] ([FlashcardSetId], [Title], [Description], [CreatedAt]) VALUES (1, N'Từ vựng động vật', N'Từ vựng động vật', CAST(N'2026-01-29T16:31:25.8652380' AS DateTime2))
INSERT [dbo].[FlashcardSets] ([FlashcardSetId], [Title], [Description], [CreatedAt]) VALUES (2, N'Từ vựng về nghề nghiệp', N'Vocabulary about occupations', CAST(N'2026-01-29T18:22:27.6150181' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FlashcardSets] OFF
GO
SET IDENTITY_INSERT [dbo].[LearningLevels] ON 

INSERT [dbo].[LearningLevels] ([LevelId], [LevelName]) VALUES (1, N'Beginner')
INSERT [dbo].[LearningLevels] ([LevelId], [LevelName]) VALUES (2, N'Intermediate')
INSERT [dbo].[LearningLevels] ([LevelId], [LevelName]) VALUES (3, N'Advanced')
SET IDENTITY_INSERT [dbo].[LearningLevels] OFF
GO
INSERT [dbo].[Lessons] ([LessonId], [CourseId], [Title], [Content], [VideoUrl], [OrderIndex], [AudioPath], [LessonType], [CreatedAt]) VALUES (N'A2L1', N'gmfb02', N'Ôn tập ngữ pháp A1', N'Ôn tập lại các kiến thức A1: từ loại, thì cơ bản, Yes/No, Wh-questions.', NULL, 1, NULL, N'Normal', CAST(N'2025-09-29T20:55:25.107' AS DateTime))
INSERT [dbo].[Lessons] ([LessonId], [CourseId], [Title], [Content], [VideoUrl], [OrderIndex], [AudioPath], [LessonType], [CreatedAt]) VALUES (N'article', N'gmfb01', N'Mạo từ (A/An/The)', N'Mạo từ (A/An/The)', N'https://www.youtube.com/watch?v=kYjwG4cRTy0', 3, NULL, N'Normal', NULL)
INSERT [dbo].[Lessons] ([LessonId], [CourseId], [Title], [Content], [VideoUrl], [OrderIndex], [AudioPath], [LessonType], [CreatedAt]) VALUES (N'assimilation', N'prnciate', N'Assimilation (Biến âm)', N'Assimilation (Biến âm)', N'https://www.youtube.com/watch?v=H_SPQGXwu50', 8, NULL, N'Normal', NULL)
GO
SET IDENTITY_INSERT [dbo].[Paragraphs] ON 

INSERT [dbo].[Paragraphs] ([Id], [UserId], [Level], [Topic], [ParagraphText], [Timestamp]) VALUES (25, 27, N'A1', N'Food', N'I like pizza. It tastes good. I eat it with my family. They eat it every Friday. I also like fruit. I eat an apple every day. It is sweet and healthy. I drink water with my meals. I love to share food. Food makes us happy.', CAST(N'2025-10-25T09:08:49.9190391' AS DateTime2))
INSERT [dbo].[Paragraphs] ([Id], [UserId], [Level], [Topic], [ParagraphText], [Timestamp]) VALUES (27, 27, N'A2', N'Technology', N'I use a laptop every day for school.  
The screen is bright and easy to see.  
I click the mouse to open a program.  
The keyboard is soft and responsive.  
I write notes with a word processor.  
The computer helps me do my homework.  
I watch videos on my tablet.  
I listen to music on a phone.  
I share my pictures on social media.  
Technology makes my life faster and easier.', CAST(N'2025-11-24T07:29:55.2343581' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Paragraphs] OFF
GO
SET IDENTITY_INSERT [dbo].[Progresses] ON 

INSERT [dbo].[Progresses] ([ProgressId], [UserId], [LessonId], [IsCompleted], [CompletedAt], [Score]) VALUES (12, 27, N'mono&diphithong', 1, CAST(N'2025-11-11T12:14:55.050' AS DateTime), 1)
INSERT [dbo].[Progresses] ([ProgressId], [UserId], [LessonId], [IsCompleted], [CompletedAt], [Score]) VALUES (15, 27, N'fooda2', 1, CAST(N'2025-10-01T14:48:13.573' AS DateTime), 2.5)
INSERT [dbo].[Progresses] ([ProgressId], [UserId], [LessonId], [IsCompleted], [CompletedAt], [Score]) VALUES (16, 27, N'assimilation', 1, CAST(N'2025-11-05T23:26:07.013' AS DateTime), 2.5)
SET IDENTITY_INSERT [dbo].[Progresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([QuizId], [LessonId], [Question], [OptionA], [OptionB], [OptionC], [OptionD], [IsDeleted], [CorrectAnswer], [ImagePath], [ImageGroup]) VALUES (1, N'vcblrfamily', N'Từ "father" có nghĩa là gì?', N'Mẹ', N'Cha', N'Con Trai', N'Ông', 0, N'B', NULL, NULL)
INSERT [dbo].[Quizzes] ([QuizId], [LessonId], [Question], [OptionA], [OptionB], [OptionC], [OptionD], [IsDeleted], [CorrectAnswer], [ImagePath], [ImageGroup]) VALUES (2, N'vcblrfamily', N'Câu hỏi: "Sister" là ai trong gia đình?', N'Mẹ', N'Chị', N'Con Trai', N'Cha', 0, N'B', NULL, NULL)
INSERT [dbo].[Quizzes] ([QuizId], [LessonId], [Question], [OptionA], [OptionB], [OptionC], [OptionD], [IsDeleted], [CorrectAnswer], [ImagePath], [ImageGroup]) VALUES (3, N'vcblrfamily', N'Từ nào có nghĩa là “ông nội/ngoại”?', N'Uncle', N'Grandfather', N'Brother', N'Cousin', 0, N'B', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[SubLevels] ON 

INSERT [dbo].[SubLevels] ([SubLevelId], [SubLevelName], [LevelId]) VALUES (1, N'A1', 1)
INSERT [dbo].[SubLevels] ([SubLevelId], [SubLevelName], [LevelId]) VALUES (2, N'A2', 1)
INSERT [dbo].[SubLevels] ([SubLevelId], [SubLevelName], [LevelId]) VALUES (3, N'B1', 2)
SET IDENTITY_INSERT [dbo].[SubLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[TranslationHistories] ON 

INSERT [dbo].[TranslationHistories] ([Id], [UserId], [Topic], [OriginalSentence], [UserTranslation], [StandardTranslation], [Accuracy], [ErrorSuggestion], [Timestamp], [ParagraphId]) VALUES (126, 27, N'Food', N'I like pizza.', N'tôi thích pizza', N'Tôi thích pizza.', 100, N'Chỉ cần viết hoa chữ đầu “Tôi” để chuẩn tông câu', CAST(N'2025-10-25T09:08:57.5672706' AS DateTime2), 25)
INSERT [dbo].[TranslationHistories] ([Id], [UserId], [Topic], [OriginalSentence], [UserTranslation], [StandardTranslation], [Accuracy], [ErrorSuggestion], [Timestamp], [ParagraphId]) VALUES (127, 27, N'Food', N'It tastes good.', N'nó rất là ngon', N'Nó có vị ngon.', 85, N'Sử dụng ''có vị'' thay vì ''rất là'' để giữ tính chính xác.', CAST(N'2025-11-04T17:42:21.2684822' AS DateTime2), 25)
INSERT [dbo].[TranslationHistories] ([Id], [UserId], [Topic], [OriginalSentence], [UserTranslation], [StandardTranslation], [Accuracy], [ErrorSuggestion], [Timestamp], [ParagraphId]) VALUES (130, 27, N'Travel', N'I am going to Paris next month.', N'tôi sẽ đi paris vào tháng tới', N'Tôi sẽ đi Paris vào tháng tới.', 95, N'Chú ý viết hoa “Tôi” và “Paris” để đúng chuẩn ngữ pháp.', CAST(N'2025-11-16T10:59:00.1515825' AS DateTime2), 26)
SET IDENTITY_INSERT [dbo].[TranslationHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Role], [CreatedAt], [Occupation], [Level], [Purpose], [ImageUrl]) VALUES (26, N'linhnguyen', N'$2a$11$tG9PgHgBpqkWZzfOp2GPBuOcePlzPtehpQZm2il5E1jGO23csX1Pa', N'Nguyễn Thùy Linh', N'linh@gmail.com', N'0889742472', N'User', CAST(N'2025-08-27T13:28:52.430' AS DateTime), N'Sinh viên đại học', N'Beginner', N'Công việc', N'aefb6768-88d3-494a-a909-632d6faa4d38.jpg')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Role], [CreatedAt], [Occupation], [Level], [Purpose], [ImageUrl]) VALUES (27, N'thaipro113', N'$2a$11$PLNPq8pzbVaPKHxX3cpERe3FwkjlMFvjlEH1kKLiKE8nEWTOm1gSC', N'Lê Văn Thái', N'thaipro1132004@gmail.com', N'0898165109', N'User', CAST(N'2025-08-27T13:41:21.627' AS DateTime), N'Sinh viên đại học', N'Beginner', N'Ôn thi (TOEIC/IELTS/VSTEP)', N'f846996b-ac19-4e15-b105-0f0569c04554.jpg')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Role], [CreatedAt], [Occupation], [Level], [Purpose], [ImageUrl]) VALUES (29, N'thaipro1132k4@gmail.com', N'', N'Lê Văn Thái', N'thaipro1132k4@gmail.com', N'0889742472', N'User', CAST(N'2025-09-16T16:14:20.970' AS DateTime), N'Sinh viên đại học', N'Beginner', N'Thăng tiến sự nghiệp', N'img-default.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Progresses] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[TranslationHistories] ADD  DEFAULT ((0)) FOR [ParagraphId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_SubLevelId] FOREIGN KEY([SubLevelId])
REFERENCES [dbo].[SubLevels] ([SubLevelId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_SubLevelId]
GO
ALTER TABLE [dbo].[Flashcards]  WITH CHECK ADD  CONSTRAINT [FK_Flashcards_FlashcardSets_FlashcardSetId] FOREIGN KEY([FlashcardSetId])
REFERENCES [dbo].[FlashcardSets] ([FlashcardSetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flashcards] CHECK CONSTRAINT [FK_Flashcards_FlashcardSets_FlashcardSetId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK__Lessons__CourseI__45F365D3] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK__Lessons__CourseI__45F365D3]
GO
ALTER TABLE [dbo].[Paragraphs]  WITH CHECK ADD  CONSTRAINT [FK_Paragraphs_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Paragraphs] CHECK CONSTRAINT [FK_Paragraphs_UserId]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK__Progresse__Lesso__4AB81AF0] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK__Progresse__Lesso__4AB81AF0]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK__Progresse__UserI__49C3F6B7] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK__Progresse__UserI__49C3F6B7]
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD  CONSTRAINT [FK_Quizzes_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quizzes] CHECK CONSTRAINT [FK_Quizzes_Lessons_LessonId]
GO
ALTER TABLE [dbo].[SubLevels]  WITH CHECK ADD  CONSTRAINT [FK_SubLevels_LearningLevels_LevelId] FOREIGN KEY([LevelId])
REFERENCES [dbo].[LearningLevels] ([LevelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubLevels] CHECK CONSTRAINT [FK_SubLevels_LearningLevels_LevelId]
GO
ALTER TABLE [dbo].[TranslationHistories]  WITH CHECK ADD  CONSTRAINT [FK_TranslationHistories_ParagraphId] FOREIGN KEY([ParagraphId])
REFERENCES [dbo].[Paragraphs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TranslationHistories] CHECK CONSTRAINT [FK_TranslationHistories_ParagraphId]
GO
ALTER TABLE [dbo].[TranslationHistories]  WITH CHECK ADD  CONSTRAINT [FK_TranslationHistories_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TranslationHistories] CHECK CONSTRAINT [FK_TranslationHistories_UserId]
GO
